.passwordHintBox {
	min-width: 300px;
	background-color: rgb(247,247,247);
	position: absolute;
	padding: 20px;
	border: 1px solid #ccc;
	border-top: 0px;
	display : none; 
	h3 {
		text-transform: uppercase;
		font-size: 15px;
		&.state {
			position: absolute;
			top : 20px;
			right: 20px;
			color : #aaa;
			&.validated {
				color : #1a9ac5; 
			}
		}
	}
	ul {
		list-style: none;
		margin: 0px;
		li {
			font-size: 14px;
			color : #aaa;
		   &:before {
		   	   font-family: FontAwesome;
		   	   content: '\f05d';
		   	   font-size: 25px;
		   	   position: relative;
		   	   top: 5px;
		   	   padding-right: 10px;
		   }
		   &.validated {
		   	  color : #1a9ac5;
		   }		
		}
	}
}