<!DOCTYPE html>
<html>
<head>
	<title>Component template</title>
	{{> styles }}
	<script type="text/javascript" data-main="js/init" src="js/vendor/require.js"></script>
</head>
<body>
   {{{body}}}
</body>
</html>
