<h3>{{#if this.more14char}}PassPhrase{{else}}Password{{/if}} criteria :</h3>
{{#if this.state}}
     <h3 class="state validated">complete</h3>
{{else}}
     <h3 class="state">creating</h3>
{{/if}}
     <ul>
          {{#if this.more14char}}
               <li class="validated">at least 14 characters</li>
          {{else}}
               <li class="{{#if this.least8char}}validated{{/if}}">at least 8 characters</li>
               <li class="{{#if this.least1lowChar}}validated{{/if}}">at least one lower case character</li>
               <li class="{{#if this.least1capChar}}validated{{/if}}">at least one upper case character</li>
               <li class="{{#if this.least1digit}}validated{{/if}}">at least one digit</li>
          {{/if}}
     </ul>